@import "../style/typography.css";

.container {
  margin: auto;
  max-width: 500px;
  font-family: "DM Sans", sans-serif;
}

.heading {
  color: #363636;
  margin: 12px 0;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: #363636;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}

.page-layout {
  width: 800px;
  margin: auto;
  margin-top: 80px;
}
